# Supabase Configuration
VITE_SUPABASE_URL=https://njdufjzzjfbbvmsrjgwj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qZHVmanp6amZiYnZtc3JqZ3dqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MTIyOTksImV4cCI6MjEwMTk4ODI5OX0.n-0d2YvNmPtL4tCt65XIhicBB8aKsmZIg1SNmfgPy2c
